@model CopiedditV2.ViewModels.PostViewModel

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h2>@Html.DisplayFor(model => model.Title)</h2>
            </div>
        </div>
        <p>@string.Format("{0} {1}", Model.CommentsCount, (Model.CommentsCount > 1) ? "Comments" : "Comment")</p>
        <hr />
        <div class="row">
            <div class="col-12">
                @Html.Partial("_CreateComment", new CopiedditV2.ViewModels.CreateCommentViewModel{ PostId = Model.Id })
                @foreach (var item in Model.Comments)
                {
                    <p>@Html.DisplayFor(modelItem => item.Id) - @Html.DisplayFor(modelItem => item.ParentId) - @Html.DisplayFor(modelItem => item.Content)</p>
                    <br />
                }
            </div>
        </div>        
    </div>
</div>



@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommentsCount)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentsCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
